{% extends "_layouts/base.html.j2" %}
{% import '_macros/common.html.j2' as com %}

{% block content %}
  <article class="{{ com.container_classes() }} flex-1 space-y-4 lg:space-y-8">
    {{ com.page_header(main='Page not found')}}
    <p>If you typed or copied the website address, please check it is correct.</p>
    <p>If the address is correct, or you clicked a link, please <button class="{{ com.sentry_trigger() }} {{ com.link_classes() }} cursor-pointer">let us know</button> so we can correct it.</p>
  </article>
{% endblock %}
