{% extends "_layouts/base.html.j2" %}
{% import '_macros/common.html.j2' as com %}

{% block content %}
  <article class="{{ com.container_classes() }} flex-1 space-y-4 lg:space-y-8">
    {{ com.page_header(main='Cookies Policy')}}
    <div class="space-y-4 lg:space-y-8 lg:w-2/3">
      {% call com.alert(variant='yellow') %}
        This policy does not apply to all pages on this website. Check the policy on each page to see which applies.
      {% endcall %}
      <section class="space-y-4">
        <h2 class="text-2xl">Cookies used on this website</h2>
        <p>This website does not use cookies.</p>
      </section>
      <section class="space-y-4">
        <h2 class="text-2xl">What are cookies?</h2>
        <p>
          Cookies are small files stored within your web browser on your device.
          See {{ com.ext_link_a(href='https://www.aboutcookies.org', value="aboutcookies.org") }} to learn more.
        </p>
      </section>
      <section class="space-y-4">
        <h2 class="text-2xl">Changes to this policy</h2>
        <section class="space-y-2">
          <h3 class="text-lg">2025-05-08</h3>
          <p>Removed Google Analytics cookies, removing the need to use cookies.</p>
        </section>
        <section class="space-y-2">
          <h3 class="text-lg">2020-05-11</h3>
          <p>Initial policy.</p>
        </section>
      </section>
    </div>
  </article>
{% endblock %}
