APP_ENABLE_SENTRY=False
APP_LOGGING_LEVEL=INFO
APP_S3_BUCKET=add-catalogue-integration.data.bas.ac.uk
CSW_ENDPOINT_UNPUBLISHED=http://localhost:5050/csw/unpublished
CSW_ENDPOINT_PUBLISHED=http://localhost:5050/csw/published
CSW_SERVER_CONFIG_UNPUBLISHED_ENDPOINT=http://localhost:5050/csw/unpublished
CSW_SERVER_CONFIG_PUBLISHED_ENDPOINT=http://localhost:5050/csw/published
CSW_SERVER_CONFIG_UNPUBLISHED_DATABASE_CONNECTION=postgresql://user:pass@localhost/add-toolbox-dev
CSW_SERVER_CONFIG_PUBLISHED_DATABASE_CONNECTION=postgresql://user:pass@localhost/add-toolbox-dev
CSW_SERVER_CONFIG_UNPUBLISHED_TRACKING_WORKING_DIR=./_record_revisions
CSW_SERVER_CONFIG_UNPUBLISHED_TRACKING_REMOTE_URL=https://gitlab.data.bas.ac.uk/MAGIC/add-catalogue-records-integration.git
CSW_SERVER_CONFIG_UNPUBLISHED_TRACKING_GITLAB_TOKEN=xxx
