# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-added-large-files
      args: ["--maxkb=600"]
    - id: check-case-conflict
    - id: check-yaml # some VCR recordings contain PyYAML tags pre-commit doesn't understand
      exclude: tests/lantern_tests/x_workflows/cassettes/test_non_interactive/TestPublishingWorkflow\.test_run\.yaml$
    - id: check-toml  # for pyproject.toml
    - id: check-merge-conflict
    - id: trailing-whitespace
      exclude: \.pxd$
    - id: end-of-file-fixer
      exclude: \.pxd$
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
    - id: ruff-check
    - id: ruff-format
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.18
  hooks:
    - id: uv-lock
- repo: local
  hooks:
    - id: ty
      name: ty check
      entry: uvx --offline ty@0.0.4 check src/ --ignore unresolved-import
      pass_filenames: false
      language: python
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.33
  hooks:
      - id: pymarkdown
