{% import '_macros/common.html.j2' as com %}

{% macro item(data) %}
  {% call com.item_title() %}Administration Information{% endcall %}
  {% call com.item_border() %}
    <dl class="space-y-4">
      {% call com.dl_item(title='Resource ID', id='admin-id') %}{{ data.item_id }}{% endcall %}

      {% call com.dl_item(title='Resource Revision', id='admin-revision') %}
        <a class="{{ com.link_classes() }}" href="{{ data.revision_link.href }}">{{ data.revision_link.value }} {{ com.restricted_i() }}{{ com.ext_link_i() }}</a>
      {% endcall %}

      {% if data.gitlab_issues %}
        {% call com.dl_item(title='GitLab Issues', id='admin-issues') %}
          <ul class="space-y-2">
            {% for item in data.gitlab_issues %}
              <li>{{ com.ext_link_a(href=item.href, value=item.value) }}</li>
            {% endfor %}
          </ul>
        {% endcall %}
      {% endif %}

      {% call com.dl_item(title='Item Restricted?', id='admin-restricted') %}
        {% call com.alert(shape='side', variant='blue') %}{% if data.restricted %}Yes{% else %}No{% endif %}{% endcall %}
      {% endcall %}

      {% call com.dl_item(title='Metadata Access') %}
        <div class="space-y-2">
          {% set metadata_variant = 'green' if data.metadata_access == 'OPEN_ACCESS' else 'red' %}
          <div id="admin-metadata-access">{% call com.alert(shape='side', variant=metadata_variant) %}{{ data.metadata_access }}{% endcall %}</div>
          {% if data.metadata_access != 'OPEN_ACCESS' %}
            {% call com.alert(shape='box', variant='red') %}The catalogue does not enforce metadata access permissions. They will always evaluate to open access (unrestricted).{% endcall %}
          {% endif %}
        </div>
      {% endcall %}

      {% call com.dl_item(title='Metadata Access (MAGIC Framework)', id='admin-metadata-access-framework') %}
        {% call com.alert(shape='side', variant='blue') %}{{ data.metadata_access_framework }}{% endcall %}
      {% endcall %}

      {% call com.dl_item(title='Resource Access', id='admin-resource-access') %}
        {% set resource_variant = 'green' if data.resource_access == 'OPEN_ACCESS' else 'red' %}
        {% call com.alert(shape='side', variant=resource_variant) %}{{ data.resource_access }}{% endcall %}
      {% endcall %}

      {% call com.dl_item(title='Resource Access (MAGIC Framework)', id='admin-resource-access-framework') %}
        {% call com.alert(shape='side', variant='blue') %}{{ data.resource_access_framework }}{% endcall %}
      {% endcall %}

      {% call com.dl_item(title='Metadata Permissions', id='admin-metadata-permissions') %}
        {% for permission in data.metadata_permissions %}
          <div class="overflow-x-auto">
            <pre>{{ permission }}</pre>
          </div>
        {% endfor %}
      {% endcall %}

      {% call com.dl_item(title='Resource Permissions', id='admin-resource-permissions') %}
        {% for permission in data.resource_permissions %}
          <div class="overflow-x-auto">
            <pre>{{ permission }}</pre>
          </div>
        {% endfor %}
      {% endcall %}
    </dl>
  {% endcall %}
{% endmacro %}
