{% import '_macros/common.html.j2' as com %}

{% macro form(data) %}
  <form action="{{ data.form_action }}" method="POST">
    {% for param, value in data.form_params | items %}
      <input type="hidden" name="{{ param }}" value="{{ value }}">
    {% endfor %}
    <div class="space-y-8">
      {% call com.item_title() %}Contact us about this item{% endcall %}
      {% call com.item_border() %}
        <div class="space-y-4">
          {{ com.form_input(id="message-subject", name="Subject", value=data.subject_default, required=True) }}
          {{ com.form_textarea(
            id="message-content", name="Message", rows=8, required=True,
            warning="Do not include any sensitive information in your message."
          ) }}
          {{ com.form_input(id="message-sender-name", name="Your name") }}
          {{ com.form_input(id="message-sender-email", name="Your email address", required=True) }}
          <div class="space-y-2">
            <div class="cf-turnstile" data-sitekey="{{ data.turnstile_site_key }}" data-theme="auto" data-size="flexible"></div>
            <noscript>
              {% call com.alert(variant='red', classes="space-y-2") %}
                <p>This form requires JavaScript to protect against spam.</p>
                <p>Without JavaScript, submitting this form will fail due to a missing bot detection value.</p>
                <p>Please use a alternative contact method if you cannot enable JavaScript.</p>
              {% endcall %}
            </noscript>
            <button class="{{ com.btn_primary_classes() }} p-4" type="submit">
                Send Message <i class="fa-regular fa-paper-plane-top"></i>
            </button>
          </div>
        </div>
      {% endcall %}
    </div>
  </form>
{% endmacro %}

{% macro alternate(data) %}
  {% if data.address or data.phone or data.email %}
    <div class="space-y-8">
      {% call com.item_title() %}Alternative contact methods{% endcall %}
      {% call com.item_border() %}
        <div class="space-y-4">
          {% if data.address %}
            <div class="space-y-2">
              <h3 class="font-bold"><i class="fa-regular fa-envelope"></i> By post</h3>
              <address id="contact-post">{{ data.address }}</address>
            </div>
          {% endif %}
          {% if data.phone %}
            <div class="space-y-2">
              <h3 class="font-bold"><i class="fa-regular fa-phone-rotary"></i> By phone</h3>
              <div id="contact-phone">{{ data.phone }}</div>
            </div>
          {% endif %}
          {% if data.email %}
            <div class="space-y-2">
              <h3 class="font-bold"><i class="fa-regular fa-at"></i> By email</h3>
              <div id="contact-email"><a class="{{ com.link_classes() }}" href="{{ data.email }}">{{ data.email }}</a></div>
            </div>
           {% endif %}
        </div>
      {% endcall %}
    </div>
  {% endif %}
{% endmacro %}

{% macro privacy_notice() %}
  <div class="space-y-8">
    {% call com.item_title() %}Privacy Notice{% endcall %}
    {% call com.alert(variant='blue', classes="space-y-2") %}
      <p>
        If you contact us, your personal information will be retained for up to three years and then deleted. It will
        only be used to contact you regarding your enquiry. If this item relates to an external organisation, we may
        share an anonymised version of your enquiry with them to help answer your query.
      </p>
      <p>We use Cloudflare Turnstile, a third-party service, to protect against spam enquires.</p>
      <p>See our <a class="{{ com.link_classes() }}" href="/legal/privacy">privacy policy</a> for more information.</p>
    {% endcall %}
  </div>
{% endmacro %}
