{% import '_macros/common.html.j2' as com %}

{% macro item(data) %}
  {% call com.item_border(classes="grid grid-cols-1 gap-y-2 lg:grid-cols-3 items-center data-option") %}
    <div class="text-center lg:text-left">{{ data.format_type.value }}</div>
    <div class="text-center">{{ data.size }}</div>
    <div class="text-center lg:text-right">{{ action(data) }}</div>
    {% if data.access_target %}
      <div class="lg:col-span-3">{{ content(data) }}</div>
    {% endif %}
  {% endcall %}
{% endmacro %}

{% macro action(data) %}
  {% set classes = com.btn_default_classes() %}
  {% if data.action_btn_variant == 'primary' %}
    {% set classes = com.btn_primary_classes() %}
  {% elif data.action_btn_variant == 'warning' %}
    {% set classes = com.btn_warning_classes() %}
  {% endif %}

  {% if data.action.href %}
    <a class="{{ classes }} inline-block p-2" href="{{ data.action.href }}">
      {{ data.action.value }} <i class="{{ data.action_btn_icon }}"></i>
    </a>
  {% else %}
    <button class="{{ classes }} p-2" data-target="{{ data.access_target }}">
      {{ data.action.value }} <i class="{{ data.action_btn_icon }}"></i>
    </button>
  {% endif %}
{% endmacro %}

{% macro content(data) %}
  <div id="{{ data.access_target | replace("#", "") }}" class="mt-2 hidden">
    {% if data.format_type.name == "ARCGIS_FEATURE_LAYER" %}
      {{ arc_feature_layer(data) }}
    {% elif data.format_type.name == "ARCGIS_OGC_FEATURE_LAYER"  %}
      {{ arc_ogc_features(data) }}
    {% elif data.format_type.name == "ARCGIS_VECTOR_TILE_LAYER"  %}
      {{ arc_vector_tile_layer(data) }}
    {% elif data.format_type.name == "X_PAPER_MAP"  %}
      {{ bas_published_map() }}
    {% endif %}
  </div>
{% endmacro %}

{% macro arc_feature_layer(data) %}
  {% set id_base = data.access_target | replace("#", "") %}
  {% call com.alert(variant='blue', classes='space-y-4') %}
    <p>Add item to a desktop or online GIS that supports <a class="{{ com.link_classes() }}" href="https://developers.arcgis.com/documentation/portal-and-data-services/data-services/feature-services/introduction/">ArcGIS Feature Services {{ com.ext_link_i() }}</a>.</p>
    <dl class="space-y-4">
      {% call com.dl_item(title='ArcGIS Item', id=id_base + '-portal-item') %}
        {{ com.ext_link_a(href=data.item_link.href, value=data.item_link.value) }}
      {% endcall %}
      {% call com.dl_item(title='Service Endpoint', id=id_base + '-server-endpoint', dd_class="overflow-x-scroll") %}
        <code>{{ data.service_endpoint }}</code>
      {% endcall %}
      {% call com.dl_item(title='Instructions', id=id_base + '-instructions') %}
        <ul class="space-y-2">
          <li>{{ com.ext_link_a(href="https://pro.arcgis.com/en/pro-app/latest/help/mapping/layer-properties/add-layers-to-a-map.htm#ESRI_STEPS_334E1F2B89A6447FBA5873DEB7ADDCED", value="Instructions for Esri ArcGIS Pro") }}</li>
          <li>{{ com.ext_link_a(href="https://guides.geospatial.bas.ac.uk/using-mapping-data-services/bas-mapping-services/loading-esri-feature-layers-in-qgis", value="Instructions for QGIS") }}</li>
        </ul>
      {% endcall %}
    </dl>
  {% endcall %}
{% endmacro %}

{% macro arc_ogc_features(data) %}
  {% set id_base = data.access_target | replace("#", "") %}
  {% call com.alert(variant='blue', classes='space-y-4') %}
    <p>Add item to a desktop or online GIS that supports <a class="{{ com.link_classes() }}" href="https://ogcapi.ogc.org/features/">OGC API Features {{ com.ext_link_i() }}</a> services (as implemented by ArcGIS Server).</p>
    <dl class="space-y-4">
      {% call com.dl_item(title='ArcGIS Item', id=id_base + '-portal-item') %}
        {{ com.ext_link_a(href=data.item_link.href, value=data.item_link.value) }}
      {% endcall %}
      {% call com.dl_item(title='Service Endpoint', id=id_base + '-server-endpoint', dd_class="overflow-x-scroll") %}
        <code>{{ data.service_endpoint }}</code>
      {% endcall %}
      {% call com.dl_item(title='Instructions', id=id_base + '-instructions') %}
        <ul class="space-y-2">
          <li>{{ com.ext_link_a(href="https://pro.arcgis.com/en/pro-app/latest/help/projects/connect-to-a-gis-server.htm#ESRI_SECTION1_EC0028F06E9F4769AA6EC3BA3E4B64F9", value="Instructions for Esri ArcGIS Pro") }}</li>
          <li>{{ com.ext_link_a(href="https://docs.qgis.org/latest/en/docs/user_manual/working_with_ogc/ogc_client_support.html", value="Instructions for QGIS") }}</li>
        </ul>
      {% endcall %}
    </dl>
  {% endcall %}
{% endmacro %}

{% macro arc_vector_tile_layer(data) %}
  {% set id_base = data.access_target | replace("#", "") %}
  {% call com.alert(variant='blue', classes='space-y-4') %}
    <p>Add item to a desktop or online GIS that supports <a class="{{ com.link_classes() }}" href="https://developers.arcgis.com/documentation/portal-and-data-services/data-services/vector-tile-services/introduction/">ArcGIS Vector Tiles {{ com.ext_link_i() }}</a>.</p>
    <dl class="space-y-4">
      {% call com.dl_item(title='ArcGIS Item', id=id_base + '-portal-item') %}
        {{ com.ext_link_a(href=data.item_link.href, value=data.item_link.value) }}
      {% endcall %}
      {% call com.dl_item(title='Service Endpoint', id=id_base + '-server-endpoint', dd_class="overflow-x-scroll") %}
        <code>{{ data.service_endpoint }}</code>
      {% endcall %}
      {% call com.dl_item(title='Instructions', id=id_base + '-instructions') %}
        <ul class="space-y-2">
          <li>{{ com.ext_link_a(href="https://pro.arcgis.com/en/pro-app/latest/help/mapping/layer-properties/add-layers-to-a-map.htm#ESRI_STEPS_334E1F2B89A6447FBA5873DEB7ADDCED", value="Instructions for Esri ArcGIS Pro") }}</li>
          <li>{{ com.ext_link_a(href="https://guides.geospatial.bas.ac.uk/using-mapping-data-services/bas-mapping-services/loading-esri-vector-tile-layers-to-qgis", value="Instructions for QGIS") }}</li>
        </ul>
      {% endcall %}
    </dl>
  {% endcall %}
{% endmacro %}

{% macro bas_published_map() %}
  {% call com.alert(variant='blue', classes='space-y-4') %}
    <p>This item is currently only available to purchase as a physical paper map. Details regarding our suppliers can be found via <a class="{{ com.link_classes() }}" href="https://www.bas.ac.uk/data/our-data/maps/how-to-order-a-map/">our website {{ com.ext_link_i() }}</a>.</p>
    <p>All maps are available free of charge to BAS staff members. Please <a class="{{ com.link_classes() }}" href="#tab-contact">contact MAGIC</a> to request a copy.</p>
    <p>Other purchase options may be available in the future.</p>
  {% endcall %}
{% endmacro %}
