interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/drives/x/root:/x/file.csv
  response:
    body:
      string: '{"error":{"code":"itemNotFound","message":"The resource could not be found."}}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"item": {"@microsoft.graph.conflictBehavior": "replace"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/drives/x/root:/x/file.csv:/createUploadSession
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#microsoft.graph.uploadSession","expirationDateTime":"2014-04-30T13:25:51.443Z","nextExpectedRanges":["0-"],"uploadUrl":"https://nercacuk.sharepoint.com/sites/x/_api/v2.0/drives/x/items/x/uploadSession?guid=''761e29ca-aeb4-4293-b0bd-d4d010ecdbc4''&dc=0&tempauth=v1.ey...3o"}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      Location:
      - https://graph.microsoft.com
      OData-Version:
      - '4.0'
      SPRequestDuration:
      - '450'
    status:
      code: 200
      message: OK
version: 1
