interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://graph.microsoft.com/v1.0/drives/x/items/x/permissions
    response:
      body:
        string: |
          {
            "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#drives('x')/items('x')/permissions",
            "value": [
              {
                "id": "1",
                "roles": [
                  "owner"
                ],
                "grantedToV2": {
                  "siteGroup": {
                    "displayName": "x Owners",
                    "id": "x",
                    "loginName": "X Owners"
                  },
                  "sharePointGroup": {
                    "id": "abc",
                    "title": "x Owners",
                    "principalId": "1"
                  }
                },
                "grantedTo": {
                  "user": {
                    "displayName": "x Resources Owners"
                  }
                },
                "inheritedFrom": {}
              }
            ]
          }
      headers:
        Content-Type:
          - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
        Link:
          - <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html"
          - <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html"
        OData-Version:
          - "4.0"
        SPRequestDuration:
          - "155"
        Sunset:
          - Sun, 01 Oct 2023 23:59:59 GMT
      status:
        code: 200
        message: OK
  - request:
      body: '{"recipients": [{"objectId": "y"}], "requireSignIn": true, "sendInvitation": false, "roles": ["read"]}'
      headers:
        Content-Type:
        - application/json
      method: POST
      uri: https://graph.microsoft.com/v1.0/drives/x/items/x/invite
    response:
      body:
        string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(microsoft.graph.permission)",
          "value":[
            {
              "id":"x",
              "roles":["read"],
              "grantedToV2":{"user":{"@odata.type":"#microsoft.graph.sharePointIdentity","displayName":"Y"}},
              "grantedTo":{"group":{"displayName":"Y"}}
            }
          ]}'
      headers:
        Content-Type:
        - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
        Deprecation:
        - Fri, 03 Sep 2021 23:59:59 GMT
        Link:
        - <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html"
        - <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html"
        Location:
        - https://graph.microsoft.com
        OData-Version:
        - '4.0'
        SPRequestDuration:
        - '384'
        Sunset:
        - Sun, 01 Oct 2023 23:59:59 GMT
      status:
        code: 200
        message: OK
  # check
  - request:
      body: null
      headers:
      method: GET
      uri: https://graph.microsoft.com/v1.0/drives/x/items/x/permissions
    response:
      body:
        string: |
          {
            "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#drives('x')/items('x')/permissions",
            "value": [
              {
                "id": "1",
                "roles": [
                  "owner"
                ],
                "grantedToV2": {
                  "siteGroup": {
                    "displayName": "x Owners",
                    "id": "x",
                    "loginName": "X Owners"
                  },
                  "sharePointGroup": {
                    "id": "abc",
                    "title": "x Owners",
                    "principalId": "1"
                  }
                },
                "grantedTo": {
                  "user": {
                    "displayName": "x Resources Owners"
                  }
                },
                "inheritedFrom": {}
              },
              {
                "id":"2",
                "roles":["read"],
                "grantedToV2":{
                  "group":{"@odata.type":"#microsoft.graph.sharePointIdentity", "displayName":"Y", "id":"y"},
                  "siteUser":{"displayName":"Y","id":"2","loginName":"y"}
                },
                "grantedTo":{
                  "user":{"displayName":"Y","id":"y"}
                },
                "inheritedFrom":{}
              }
            ]
          }
      headers:
        Content-Type:
        - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
        Link:
        - <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html"
        - <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html"
        OData-Version:
        - '4.0'
        SPRequestDuration:
        - '377'
        Sunset:
        - Sun, 01 Oct 2023 23:59:59 GMT
      status:
        code: 200
        message: OK
version: 1
