interactions:
- request:
    body: client_id=x&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/x/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"ey...kg"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
