interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/drives/x/root:/x/file.csv
  response:
    body:
      string: '{"error":{"code":"itemNotFound","message":"The resource could not be found."}}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: "x,y\r\n10,19\r\n20,29\r\n30,39\r\n40,49\r\n50,59\r\n60,69\r\n70,79\r\n80,89\r\n90,99\r\n"
    headers:
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/x/root:/x/file.csv:/content
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''x'')/root/$entity","id":"x","file":{"hashes":{"quickXorHash":"vBt+32zMV3FjA3neqwmyIqtOE58="}},"name":"file.csv"}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
    status:
      code: 201
      message: Created
- request:
    body: '{"resource_id": "x", "artefact_id": "x", "artefact_fmt": "CSV", "unrestricted": false}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://graph.microsoft.com/v1.0/drives/x/items/x/listItem/fields
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''x'')/items(''x'')/listItem/fields/$entity","resource_id":"x","artefact_id":"x","unrestricted":false,"artefact_fmt":"CSV","id":"1"}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
    status:
      code: 200
      message: OK
  # creating artefact
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/drives/x/items/x/listItem/fields
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''x'')/items(''x'')/listItem/fields/$entity","resource_id":"x","artefact_id":"x","unrestricted":false,"artefact_fmt":"CSV","id":"1"}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
    status:
      code: 200
      message: OK
version: 1
