interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/drives/x/root:/x/file.csv
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(driveItem)/$entity","id":"x","file":{"hashes":{"quickXorHash":"vBt+32zMV3FjA3neqwmyIqtOE58="}},"name":"file.csv"}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"item": {"@microsoft.graph.conflictBehavior": "replace"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/drives/x/root:/x/file.csv:/createUploadSession
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#microsoft.graph.uploadSession","expirationDateTime":"2014-04-30T13:25:51.443Z","nextExpectedRanges":["0-"],"uploadUrl":"https://nercacuk.sharepoint.com/sites/x/_api/v2.0/drives/x/items/x/uploadSession?guid=''761e29ca-aeb4-4293-b0bd-d4d010ecdbc4''&dc=0&tempauth=v1.ey...3o"}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      Location:
      - https://graph.microsoft.com
      OData-Version:
      - '4.0'
      SPRequestDuration:
      - '450'
    status:
      code: 200
      message: OK
- request:
    body: "x,y\r\n10,19\r\n20,29\r\n30,39\r\n40,49\r\n50,59\r\n"
    headers:
      Content-Range:
      - bytes 0-39/75
    method: PUT
    uri: https://nercacuk.sharepoint.com/sites/x/_api/v2.0/drives/x/items/x/uploadSession?guid='761e29ca-aeb4-4293-b0bd-d4d010ecdbc4'&dc=0&tempauth=v1.ey...3o
  response:
    body:
      string: '{"@odata.context":"https://nercacuk.sharepoint.com/sites/x/_api/v2.0/$metadata#oneDrive.uploadSession","expirationDateTime":"2014-04-30T13:25:52.132Z","nextExpectedRanges":["40-74"]}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      IsOCDI:
      - '0'
      MS-CV:
      - ojjisL5AASDmTCEAjmR8Zg.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.27626
      ODATA-VERSION:
      - '4.0'
      SPClientServiceRequestDuration:
      - '134'
      SPRequestDuration:
      - '159'
      X-1DSCollectorUrl:
      - https://eu-mobile.events.data.microsoft.com/OneCollector/1.0/
      X-AriaCollectorURL:
      - https://eu-mobile.events.data.microsoft.com/Collector/3.0/
      X-DataBoundary:
      - EU
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-NetworkStatistics:
      - 0,65535,0,27,51312,962191,962191,4449
      X-SP-SERVERSTATE:
      - ReadOnly=0
      X-SPO-VroomTelemetry:
      - E=A
      X-SharePointHealthScore:
      - '2'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"resource_id": "x", "artefact_id": "e6d72cea-bda6-5dcb-8742-cc7ff5e71791","artefact_fmt": "CSV", "unrestricted": false}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://graph.microsoft.com/v1.0/drives/x/items/x/listItem/fields
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''x'')/items(''x'')/listItem/fields/$entity","resource_id":"x","artefact_id":"x","unrestricted":false,"artefact_fmt":"CSV","id":"1"}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
    status:
      code: 200
      message: OK
  # creating artefact
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/drives/x/items/x/listItem/fields
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''x'')/items(''x'')/listItem/fields/$entity","resource_id":"x","artefact_id":"x","unrestricted":false,"artefact_fmt":"CSV","id":"1"}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
    status:
      code: 200
      message: OK
version: 1
