{% import '_macros/common.html.j2' as com %}
{% import '_macros/site.html.j2' as site %}

<!DOCTYPE html>
<html lang="en">
  {{ site.html_head(meta) }}
  <body id="{{ com.back_to_top_id() }}" class="font-sans text-base text-grey-900 dark:text-grey-100 bg-white dark:bg-grey-950">
    <div class="flex flex-col min-h-screen space-y-8 lg:space-y-12">
      {{ site.header(meta) }}
      <main class="{{ com.container_classes() }} px-2 lg:px-0 flex-1">
        {% block content %}{% endblock %}
      </main>
      {{ site.footer(meta) }}
    </div>
  </body>
</html>
