{% import '_macros/common.html.j2' as com %}
{% import '_macros/site.html.j2' as site %}

<!DOCTYPE html>
<html lang="en">
  {{ site.html_head(meta) }}
  <body id="{{ com.back_to_top_id() }}" class="font-sans text-base {{ com.base_bg_text_classes() }}">
    <div class="flex flex-col min-h-screen space-y-8 lg:space-y-12">
      {{ site.header(meta) }}
      <div class="px-2 flex-1">{% block content %}{% endblock %}</div>
      {{ site.feedback_widget(meta.fallback_email) }}
      {{ site.footer(meta) }}
    </div>
  </body>
</html>
