{% extends "_layouts/base.html.j2" %}
{% import '_macros/common.html.j2' as com %}

{% block content %}
<main class="{{ com.container_classes() }}">
  {% block main %}{% endblock %}
</main>
{% endblock %}
