{% extends "_layouts/base.html.j2" %}
{% import '_macros/common.html.j2' as com %}

{# use `{% set header_main = "..." %}` in child templates to set page title.  #}

{% block content %}
  <article class="space-y-4 lg:space-y-8">
    {{ com.page_header(main=header_main)}}
    <div class="space-y-4 lg:space-y-8 lg:w-2/3">
      {% block page_content %}{% endblock %}
    </div>
  </article>
{% endblock %}
