{% import '_macros/common.html.j2' as com %}
{% import '_macros/assets.js.j2' as ast %}

{{ ast.script_show_js(com.show_js_class()) }}
{{ ast.script_sticky_tabs() }}
{{ ast.script_collapsible() }}
{{ ast.script_copyable() }}
