{% import '_macros/common.html.j2' as com %}
{% import '_macros/assets.js.j2' as ast %}

/* show-js */
{{ ast.script_show_js(com.show_js_class()) }}
/* sticky-tabs */
{{ ast.script_sticky_tabs() }}
/* collapsible */
{{ ast.script_collapsible() }}
/* clipboard-copy */
{{ ast.script_copyable() }}
/* feedback-processing */
{{ ast.script_sentry_feedback_widget(data.sentry_dsn) }}
