<div id="item-fl-info-layer-{{ download.id }}" class="bsk-alert bsk-alert-block bsk-alert-outline bsk-alert-info bsk-collapse bsk-fade app-fl-info" role="alert">
    <button type="button" class="bsk-close" data-toggle="collapse" data-target="#item-fl-info-layer-{{ download.id }}" aria-expanded="false" aria-label="Close" aria-controls="#item-fl-info-layer-{{ download.id }}">&times;</button>
    <header class="bsk-alert-heading">
        <div class="bsk-h4">ArcGIS Feature Layer instructions</div>
    </header>
    <div class="bsk-alert-body">
        <p>This item is available as a layer that can be added to a desktop or online GIS.</p>
        <p class="bsk-alert bsk-alert-info bsk-alert-highlight">This layer will always use the most recent edition of this dataset, and will therefore change whenever a new edition is published.</p>
        <dl class="bsk-dl-horizontal bsk-dl-horizontal-lg">
            <dt>ArcGIS Item</dt>
            <dd><a href="{{ download.url }}">{{ download.url }}</a></dd>
            {% if download.service_url %}
                <dt>Service Endpoint</dt>
                <dd class="app-overflow-x"><code>{{ download.service_url }}</code></dd>
            {% endif %}
            <dt>Instructions</dt>
            <dd>
                <div>
                    <a href="https://pro.arcgis.com/en/pro-app/latest/help/data/services/use-web-feature-layers.htm#GUID-79057688-47A8-49B1-B904-84DDB73722A1" target="_blank">
                        Instructions for Esri ArcGIS Pro
                        <i class="far fa-external-link"></i>
                    </a>
                </div>
                <div>
                    <a href="https://guides.geospatial.bas.ac.uk/using-mapping-data-services/bas-mapping-services/loading-esri-feature-layers-in-qgis" target="_blank">
                        Instructions for QGIS
                        <i class="far fa-external-link"></i>
                    </a>
                </div>
            </dd>
        </dl>
    </div>
</div>
