<section class="app-item-tab app-item-licence">
    {% if item.licence_url == 'https://creativecommons.org/licenses/by/4.0/' %}
        {% include 'app/_includes/items/licence-cc-by-4-0.j2' %}
    {% elif item.licence_url == 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/' %}
        {% include 'app/_includes/items/licence-ogl-uk-3-0.j2' %}
    {% endif %}
</section>
