<section class="bsk-sidebar bsk-sidebar-default app-item-summary">
    <dl class="bsk-dl-horizontal">
        {%  if item.series %}
            <dt>Series</dt>
            <dd>{{ item.series_markdown }}</dd>
        {% endif %}
        {% if item.edition %}
            <dt>{% if item.item_type == 'product' %}Edition{% else %}Version{% endif %}:</dt>
            <dd>{{ item.edition }}</dd>
        {% endif %}
        {% if item.released %}
            <dt>Released:</dt>
            <dd>{{ item.released }}</dd>
        {% endif %}
        {% if item.isbns %}
            <dt>ISBNs</dt>
            <dd>
                <ul class="bsk-list-unstyled app-keywords-list">
                    {% for isbn in item.isbns %}
                        <li>{{ isbn }}</li>
                    {% endfor %}
                </ul>
            </dd>
        {% endif %}
        {% if item.scale %}
            <dt>Scale</dt>
            <dd>{{ item.scale }}</dd>
        {% endif %}
    </dl>

    {% if item.citation_markdown %}
        {% include 'app/_includes/items/citation.j2' %}
    {% endif %}

    <h3>Abstract</h3>
    <p>{{ item.abstract_markdown }}</p>
</section>
