<section class="bsk-sidebar bsk-sidebar-default app-item-summary">
    <dl class="bsk-dl-horizontal">
        {%  if item.series %}
            <dt>Series</dt>
            <dd>{{ item.series_markdown }}</dd>
        {% endif %}
        {% if item.edition %}
            <dt>{% if item.item_type == 'product' %}Edition{% else %}Version{% endif %}:</dt>
            <dd>{{ item.edition }}</dd>
        {% endif %}
        {% if item.released %}
            <dt>Released:</dt>
            <dd>{{ item.released }}</dd>
        {% endif %}
        {% if item.status != 'unknown' %}
            <dt>Status:</dt>
            <dd>
                {% if item.status == 'current' %}
                    <span class="bsk-label bsk-label-success"><i class="fa-fw far fa-check"></i> Current</span>
                {% elif item.status == 'outdated' %}
                    <span class="bsk-label bsk-label-warning"><i class="fa-fw far fa-exclamation-triangle"></i> Outdated</span>
                {% endif %}
                {% if item.maintenance_frequency == 'Biannually (every 6 months)' %}
                    (Updated every 6 months)
                {% endif %}
            </dd>
        {% endif %}
        {% if item.collections %}
        <dt>Collections:</dt>
        <dd>{{ item.collections | join(',') }}</dd>
        {% endif %}
        {% if item.isbns %}
            <dt>ISBNs</dt>
            <dd>
                <ul class="bsk-list-unstyled app-keywords-list">
                    {% for isbn in item.isbns %}
                        <li>{{ isbn }}</li>
                    {% endfor %}
                </ul>
            </dd>
        {% endif %}
        {% if item.scale %}
            <dt>Scale</dt>
            <dd>{{ item.scale }}</dd>
        {% endif %}
    </dl>

    {% if item.citation_markdown %}
        {% include 'app/_includes/items/citation.j2' %}
    {% endif %}

    <h3>Abstract</h3>
    <p>{{ item.abstract_markdown }}</p>
</section>
