<section class="app-item-keywords">
    <header>
        <h3>Keywords</h3>
    </header>
    <dl class="bsk-dl-horizontal bsk-dl-horizontal-lg">
        {% if item.topics %}
            <dt>BAS Research Topics:</dt>
            <dd>
                <ul class="bsk-list-unstyled app-keywords-list fa-ul">
                    {% for topic in item.topics %}
                        <li>
                            <span class="fa-li"><i class="far fa-tag"></i></span>
                            {{ item }}
                        </li>
                    {% endfor %}
                </ul>
            </dd>
        {% endif %}
        {% for theme_keyword_set in item.theme_keywords %}
            <dt>
                {{ theme_keyword_set.thesaurus.title.value }}
                    {% if theme_keyword_set.thesaurus.title.href %}
                        <a href="{{ theme_keyword_set.thesaurus.title.href }}">
                            <i class="far fa-info-circle"></i>
                        </a>
                {% endif %}
            </dt>
            <dd>
                <ul class="bsk-list-unstyled app-keywords-list fa-ul">
                    {% for theme_keyword in theme_keyword_set.terms %}
                        <li>
                            <span class="fa-li"><i class="far fa-tag"></i></span>
                            {{ theme_keyword.term }}
                            {% if theme_keyword.href %}
                                <a href="{{ theme_keyword.href }}"><i class="far fa-info-circle"></i></a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </dd>
        {% endfor %}
    </dl>
</section>
