interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/shares/u!aHR0cHM6Ly9uZXJjYWN1ay5zaGFyZXBvaW50LmNvbS86Yjovci9zaXRlcy9NQUdJQ1Byb2R1Y3RzRGlzdHJpYnV0aW9uL3g/driveItem?%24select=id%2Cname%2Csize%2Cfile
  response:
    body:
      string: '{"error": {"code": "accessDenied", "innerError": {"code": "sharesAccessDenied"}, "message": "The system cannot find the file specified. (Exception from HRESULT: 0x80070002)", "@onedrive.linkFeatures": []}}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
    status:
      code: 403
      message: Forbidden
version: 1
