interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/shares/u!aHR0cHM6Ly9uZXJjYWN1ay5zaGFyZXBvaW50LmNvbS9zaXRlcy9CQVMtTUFHSUNSZXNvdXJjZXMvTWFpbi94L3guanBn/driveItem?%24select=id%2Cname%2Csize%2Cfile
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(driveItem)/$entity","@odata.etag":"\"{x},3\"","id":"x","name":"x.jpg","file":{"fileExtension":".jpg","hashes":{"quickXorHash":"x"},"mimeType":"image/jpeg"},"size":1}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
    status:
      code: 200
      message: OK
version: 1
