{% extends "_layouts/base.html.j2" %}
{% import '_macros/common.html.j2' as com %}

{% block content %}
  <style>
    @font-face {
      font-family: 'Open Sans';
      src: url('/static/fonts/open-sans.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'Open Sans';
      src: url('/static/fonts/open-sans-italic.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;
    }
    :root {
      --scalar-font: "Open Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      --scalar-font-code: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
  </style>
  <div id="app"></div>
  <script src="/static/js/lib/scalar.min.js"></script>
  <script>
      Scalar.createApiReference('#app', {
        url: '/static/json/openapi.json',
        title: 'Lantern',
        slug: 'lantern',
        documentDownloadType: 'direct',
        orderRequiredPropertiesFirst: false,
        orderSchemaPropertiesBy: 'preserve',
        telemetry: false,
        operationsSorter: 'method'
      })
    </script>
{% endblock %}
