{% extends '_layouts/page.html.j2' %}
{% import '_macros/common.html.j2' as com %}

{% set header_main = 'Roadmap and Changelog' %}

{% macro section(slug='', title='') %}
  <section id="{{ slug }}" class="space-y-4">
    <h2 class="text-2xl">{{ title }}</h2>
    {{ caller() }}
  </section>
{% endmacro %}

{% macro subsection(title='') %}
  <h3 class="text-xl">{{ title }}</h3>
  {{ caller() }}
{% endmacro %}

{% block page_content %}
  {{ com.experimental_page() }}

  {% call section(slug='recently-released', title='Recently released') %}
    {% call subsection(title='Deprecated items') %}
      <p>We've added a warning to items that are old and should no longer be used, such as the
        <a class="{{ com.link_classes() }}" href="/items/4df5a9d9-b4de-4d90-812a-abbbe90cb96a">Rothera Masterplan Map</a>.</p>
    {% endcall %}
    {% call subsection(title='Frequently updated items') %}
      <p>We've added an indicator for items that are updated in near real time, such as
        <a class="{{ com.link_classes() }}" href="/items/260298c6-8b63-4def-b0c3-964986a8bd24">Asset tracking data</a>.</p>
    {% endcall %}
    {% call subsection(title='Performance improvements') %}
      <p>We've significantly improved the efficiency of the code used to build this website, reducing its carbon emissions.</p>
    {% endcall %}
    {% call com.alert(shape='side', variant='blue', classes="space-y-2") %}
      <p>This section only includes recent, high level, changes intended for a general audience.</p>
      <p>The project {{ com.ext_link_a(href='https://github.com/antarctica/lantern/blob/main/CHANGELOG.md', value='CHANGELOG') }}
        contains a full history at a lower technical level aimed at developers.</p>
    {% endcall %}
  {% endcall %}

  {% call section(slug='working-on', title='What we\'re doing now') %}
    {% call subsection(title='Improving restricted items') %}
      <p>We're clarifying who can access some restricted item downloads, such as those restricted to BAS Staff.</p>
    {% endcall %}
    {% call subsection(title='Site checks for restricted items') %}
      <p>We're expanding the automatic broken download checks we run to include restricted downloads hosted in SharePoint.</p>
    {% endcall %}
    {% call subsection(title='File download checksums') %}
      <p>We're including checksums for verifying file downloads are complete to some download links, initially for
        automated checks.</p>
    {% endcall %}
    {% call subsection(title='Automated publishing') %}
      <p>To reduce manual effort and improve consistency, we're prototyping a workflow to process, deposit and
        catalogue initially one time series of products automatically.</p>
    {% endcall %}
  {% endcall %}

  {% call section(slug='future-plans', title='Future plans') %}
    {% call subsection(title='Improving search') %}
      <p>To include filters for things such as download types, publication date and access restrictions.</p>
      <p>We are also exploring how searching for items based on their location might work.</p>
    {% endcall %}
    {% call subsection(title='Improving multiple product editions') %}
      <p>For maps that are created each year/season, we're exploring how to improve navigating between previous and
        future editions as part of a historical series.</p>
    {% endcall %}
    {% call subsection(title='Migrate to UKRI AWS') %}
      <p>We will move the AWS website hosting to an account operated by our parent body, for better support and oversight.</p>
    {% endcall %}
    {% call com.alert(shape='side', variant='blue', classes="space-y-2") %}
      <p>
        We always welcome {{ com.feedback_trigger(classes=com.link_classes(), fallback=fallback_email, text='feedback') }}
        about how you think we should improve this website.
      </p>
    {% endcall %}
  {% endcall %}
{% endblock %}
