<article class="app-collection-item">
    <div class="bsk-row">
        <div class="bsk-col-12-md-9">
            <h4><a href="/items/{{ item.identifier }}">{{ item.title_markdown }}</a></h4>
            <dl class="bsk-dl-horizontal">
                <dt>Version:</dt>
                <dd>{{ item.edition }}</dd>
                <dt>Released:</dt>
                <dd>{{ item.released }}</dd>
            </dl>
        </div>
        <div class="bsk-col-12-md-3">
            <figure>
                <img src="{{ item.image_overview.href }}" alt="{{ item.image_overview.alt_text }}" height="140px" class="bsk-pull-right" />
            </figure>
        </div>
    </div>
    <p>{{ item.abstract_markdown }}</p>
</article>
