{% extends "_layouts/page-legal.html.j2" %}
{% import '_macros/common.html.j2' as com %}
{% import '_macros/legal.html.j2' as legal %}

{% set header_main = "Copyright Policy" %}
{% set toc = {
  "copyright-notice": "Copyright notice",
  "copyright-items": "Item copyright",
  "copyright-questions": "Questions about copyright",
  "changelog": "Changes to this policy",
  }
%}
{% block legal_content %}
  {% call legal.policy_section(slug='copyright-notice', title='Copyright notice') %}
    <p>
      Most content on this website is subject to copyright protection and is published under the
      {{ com.ext_link_a(href='http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/', value="Open Government Licence (OGL)") }},
      which explains any exempted content.
    </p>
    <p>Most content is owned by {{ com.ext_link_a(href='https://www.ukri.org/', value="UK Research and Innovation (UKRI)") }}, to which the
      {{ com.ext_link_a(href='https://www.bas.ac.uk/', value="British Antarctic Survey (BAS)") }}, <br /> and its parent the
      {{ com.ext_link_a(href='https://www.ukri.org/councils/nerc/', value="Natural Environment Research Council (NERC)") }}, both belong.</p>
    <p>Where content has different copyright arrangements, we’ll credit the author and/or copyright holder as appropriate.</p>
  {% endcall %}

  {% call legal.policy_section(slug='copyright-items', title='Item copyright') %}
    <p>
      This website contains pages providing information about items (covering a range of material from maps to
      online services), from a variety of providers and authors (including external organisations).
    </p>
    <p>
      Copyright for these items, and any files or related information this website may link to, varies item to item.
      Each item page includes a licence tab explaining the copyright arrangements applicable for that item.
    </p>
    <p><strong>This copyright policy is limited to these information pages, not the items themselves.</strong></p>
  {% endcall %}

    {% call legal.policy_section(slug='copyright-questions', title='Questions about copyright') %}
      <p>
        If you have a question about copyright for an item (a map, dataset, etc.), please use the contact tab on
        the relevant item page to contact the relevant team.
      </p>
      <p>
        If your question relates to this website more generally, please
        {{ com.feedback_trigger(classes=com.link_classes(), fallback=fallback_email, text='contact us') }} by
        submitting feedback.
      </p>
  {% endcall %}

  {% call legal.policy_section(slug='changelog', title='Changes to this policy') %}
    {% call legal.policy_subsection(title='2025-05-08') %}
      <p>Simplifying and clarifying how policy applies to items vs website pages.</p>
    {% endcall %}
    {% call legal.policy_subsection(title='2020-05-11') %}
      <p>Initial policy.</p>
    {% endcall %}
  {% endcall %}
{% endblock %}
