{% extends "_layouts/page-legal.html.j2" %}
{% import '_macros/common.html.j2' as com %}
{% import '_macros/legal.html.j2' as legal %}

{% set header_main = "Privacy Policy" %}
{% set toc = {
  "privacy-notice": "Privacy notice",
  "privacy-collected": "Information we collect about you",
  "privacy-purpose": "Why we collect this information",
  "privacy-actions": "How we use your information",
  "privacy-processors": "Data Processors summary",
  "privacy-item-enquires": "Item enquires (Microsoft)",
  "privacy-site-feedback": "Website feedback (Sentry)",
  "privacy-site-errors": "Website error and performance monitoring (Sentry)",
  "privacy-site-analytics": "Website analytics (Plausible)",
  "privacy-bot-protection": "Bot protection (Cloudflare)",
  "privacy-scope": "Other privacy policies",
  "privacy-assessment": "Data Protection Impact Assessment",
  "changelog": "Changes to this policy",
  }
%}

{% block legal_content %}
  {% call legal.policy_section(slug='privacy-notice', title='Privacy notice') %}
    <p>
      This website, the <em>BAS Data Catalogue</em> available at
      <a class="{{ com.link_classes() }}" href="https://data.bas.ac.uk">data.bas.ac.uk</a> (and several preview URLs),
      is provided by the {{ com.ext_link_a(href='https://www.bas.ac.uk/', value="British Antarctic Survey (BAS)") }},
      which is part of the {{ com.ext_link_a(href='https://www.ukri.org/councils/nerc/', value="Natural Environment Research Council (NERC)") }}
      and {{ com.ext_link_a(href='https://www.ukri.org/', value="UK Research and Innovation (UKRI)") }}.
    </p>
  {% endcall %}

  {% call legal.policy_section(slug='privacy-collected', title='Information we collect about you') %}
    <p>We do not collect any personal information about you, unless you contact us or provide feedback.</p>
    <p>We do collect anonymous analytics about the pages you visit and basic information about your web browser.</p>
    <p>We do collect non-identifying information about your device and how you interact with this website.</p>
    <p>We use third-party providers to enable these functions, as explained in this policy.</p>
  {% endcall %}

  {% call legal.policy_section(slug='privacy-purpose', title='Why we collect this information') %}
    <p>We collect your contact information so we can reply to your enquires about items (maps, datasets, etc.).</p>
    <p>We invite feedback from users to improve this website or answer your questions.</p>
    <p>We collect anonymous analytics to help guide how we develop and update this website.</p>
    <p>We collect basic information about your web browser to ensure this website works well for most people.</p>
    <p>We collect device and interaction information to distinguish human users from bots to protect against malicious use of this website.</p>
  {% endcall %}

  {% call legal.policy_section(slug='privacy-actions', title='How we use your information') %}
    <p>
      If you enquire about an item, your personal information will be retained for up to three years and then
      deleted. It will only be used to contact you regarding your query. If an item relates to an external
      organisation, we may share an anonymised version of your enquiry with them to help answer your query.
    </p>
    <p>
      If you provide feedback, your personal information will be retained for up to ninety days and then deleted.
      It will only be used to contact you regarding your feedback. If deemed relevant to help improve this
      website, an anonymised version of your feedback may be retained for up to seven years.
    </p>
    <p>
      Basic information about your device (such as the web browser you use), and analytics information
      (such as page views), will both be retained for up to seven years and then deleted. This information cannot
      be used to identify you. It is only used for statistics and to better understand errors and performance issues.
    </p>
    <p>We process your information under the {{ com.ext_link_a(href='https://www.ukri.org/about-us/privacy-notice/', value="UK Research & Innovation (UKRI) Privacy Notice") }}.</p>
  {% endcall %}

  {% call legal.policy_section(slug='privacy-processors', title='Data Processors summary') %}
    <div class="grid grid-cols-1 lg:grid-cols-[1fr__1fr] border {{ com.table_border_classes() }} overflow-hidden">
      <!-- Header -->
      <div class="{{ com.table_header_classes() }}">Activity</div>
      <div class="{{ com.table_header_classes() }}">Processors</div>

      <!-- Body -->
      <div class="{{ com.table_row_classes() }}">Replying to item enquires</div>
      <div class="{{ com.table_row_classes() }}">Microsoft, Cloudflare</div>
      <div class="{{ com.table_row_classes() }}">Collecting user feedback</div>
      <div class="{{ com.table_row_classes() }}">Sentry</div>
      <div class="{{ com.table_row_classes() }}">Collecting website analytics</div>
      <div class="{{ com.table_row_classes() }}">Plausible</div>
    </div>

  {% endcall %}

  {% call legal.policy_section(slug='privacy-item-enquires', title='Item enquires (Microsoft)') %}
    <p>
      We use the {{ com.ext_link_a(href='https://www.microsoft.com/en-gb/power-platform/products/power-automate', value="Microsoft Power Automate") }}
      platform to collect item enquires and forward them to the relevant team.
    </p>
    <p>
      See Microsoft's {{ com.ext_link_a(href='https://learn.microsoft.com/en-us/power-platform/admin/wp-compliance-data-privacy', value="documentation") }}
      for general details about how they process information.
    </p>
  {% endcall %}

  {% call legal.policy_section(slug='privacy-site-feedback', title='Website feedback (Sentry)') %}
    <p>
      We use {{ com.ext_link_a(href='https://sentry.io/', value="Sentry") }} to collect user feedback for this
      website.
    </p>
    <p>
      In addition to your feedback and contact information, Sentry will collect basic information about your
      device (such as the web browser you use) which may be relevant to reviewing and responding to your feedback.
    </p>
  {% endcall %}

  {% call legal.policy_section(slug='privacy-site-errors', title='Website error and performance monitoring (Sentry)') %}
    <p>
      We use {{ com.ext_link_a(href='https://sentry.io/', value="Sentry") }} to monitor errors and/or performance
      issues within this website.
    </p>
    <p>
      See their {{ com.ext_link_a(href='https://docs.sentry.io/platforms/javascript/data-management/data-collected/', value="documentation") }}
      for details on information Sentry collects.
    </p>
    <p>
      We have configured Sentry not to collect any information that can identify you (including your IP
      address). Sentry will collect basic information about your device (such as the web browser you use).
    </p>
  {% endcall %}

  {% call legal.policy_section(slug='privacy-site-analytics', title='Website analytics (Plausible)') %}
    <p>
      We use {{ com.ext_link_a(href='https://plausible.io', value="Plausible") }} to collect website analytics.
      This includes basic information about your device (such as the web browser you use) but does not include any
      information that can identify you (including your IP address).
    </p>
    <p>
      See their {{ com.ext_link_a(href='https://plausible.io/data-policy', value="data policy") }} for details on
      how Plausible processes information.
    </p>
  {% endcall %}

  {% call legal.policy_section(slug='privacy-bot-protection', title='Bot protection (Cloudflare)') %}
    <p>
      We use the {{ com.ext_link_a(href='http://cloudflare.com/en-gb/application-services/products/turnstile', value="Turnstile") }}
      service from Cloudflare to protect item enquiry forms from malicious activity by non-human agents (bots). This
      includes information about your device and how you interact with this website. Cloudflare cannot directly identify
      you from this information.
    </p>
    <p>
      See Cloudflare's {{ com.ext_link_a(href='https://www.cloudflare.com/en-gb/turnstile-privacy-policy/', value="privacy policy") }}
      for more information about how they process information.
    </p>
  {% endcall %}

  {% call legal.policy_section(slug='privacy-scope', title='Other privacy policies') %}
    <p>Privacy policies from other BAS websites do not apply here.</p>
    <p>This website has links to other websites for which we are not responsible.</p>
  {% endcall %}

  {% call legal.policy_section(slug='privacy-assessment', title='Data Protection Impact Assessment') %}
    <p>A Data Protection Impact Assessment (DPIA) has been completed for this website.</p>
  {% endcall %}

  {% call legal.policy_section(slug='changelog', title='Changes to this policy') %}
    {% call legal.policy_subsection(title='2025-10-10') %}
      <p>Updated to reflect adding Cloudflare Turnstile for spam protection.</p>
      <p>Added data processors summary.</p>
      <p>Recording DPIA completion.</p>
    {% endcall %}
    {% call legal.policy_subsection(title='2025-05-08') %}
      <p>Updated to better explain policy scope and reflect changes to providers.</p>
    {% endcall %}
    {% call legal.policy_subsection(title='2000-05-11') %}
      <p>Initial policy.</p>
    {% endcall %}
  {% endcall %}
{% endblock %}
