{% extends "_layouts/page.html.j2" %}
{% import '_macros/common.html.j2' as com %}

{% set header_main = "Page not found" %}

{% block page_content %}
  <p>If you typed or copied the website address, please check it is correct.</p>
  <p>If the address is correct, or you clicked a link, please <button class="{{ com.sentry_trigger() }} {{ com.link_classes() }} cursor-pointer">let us know</button> so we can correct it.</p>
{% endblock %}
