{% extends "_layouts/main.html.j2" %}
{% import '_macros/common.html.j2' as com %}

{% block main %}
  <article class="space-y-4 lg:space-y-8">
    {{ com.page_header(main="Discover information produced or managed by the British Antarctic Survey", sub='Home', sub_i=com.home_i_classes())}}

    {% call com.alert(shape='side', variant='blue', classes="space-y-2") %}
      <p>This page is a placeholder.</p>
      <p>In the meantime, please discover our <a class="{{ com.footer_link_classes() }}" href="/collections/bas-maps">maps</a> and <a class="{{ com.footer_link_classes() }}" href="/collections/bas-geomatics">surveys</a>.</p>
    {% endcall %}
  </article>
{% endblock %}
