{% extends "_layouts/page.html.j2" %}
{% import '_macros/common.html.j2' as com %}

{% set header_main = "Search" %}

{% block head_scripts_extra %}
  <script src="/static/js/lib/algolia.min.js?v={{ build_key }}"></script>
  <script src="/static/js/search.js?v={{ build_key }}"></script>
{% endblock %}

{% block page_content %}
  {{ com.experimental_page() }}

  <noscript>
    {% call com.alert(shape='side', variant='red', classes="space-y-2") %}
      <p>This page requires JavaScript. No alternative is currently available.</p>
    {% endcall %}
  </noscript>
  <div id="site-search" class="show-js hidden space-y-8">
    <section>
      <input id="search-query" class="{{ com.form_item_classes() }}" type="search" name="search-query">
    </section>
    <section id="search-hits" class="space-y-4"></section>
  </div>
{% endblock %}
