interactions:
- request:
    body: '{"requests": [{"action": "addObject", "body": {"objectID": "x", "objectType": "DATASET", "objectRevID": "xx", "objectRevDate": 1404086400, "name": "x", "summary": "x", "restricted": true, "objectRecData": "[\"o\", \"x\", \"x\", \"2014-06-30\"]"}}]}'
    headers:
      content-type:
      - application/json
      x-algolia-api-key:
      - x
      x-algolia-application-id:
      - x
    method: POST
    uri: https://x.algolia.net/1/indexes/x/batch
  response:
    body:
      string: '{"objectIDs":["x"],"taskID":123}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
      x-algolia-api-key:
      - x
      x-algolia-application-id:
      - x
    method: GET
    uri: https://x-dsn.algolia.net/1/indexes/x/task/123
  response:
    body:
      string: '{"status":"notPublished","pendingTask":false}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
# ...
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
      x-algolia-api-key:
      - x
      x-algolia-application-id:
      - x
    method: GET
    uri: https://x-dsn.algolia.net/1/indexes/x/x
  response:
    body:
      string: '{"objectType":"DATASET","objectRevID":"xx","objectRevDate":1404086400,"name":"x","summary":"x","objectRecData":"[\"o\",\"x\", \"x\", \"2014-06-30\"]","objectID":"x"}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
