interactions:
- request:
    body: '{}'
    headers:
      content-type:
      - application/json
      x-algolia-api-key:
      - x
      x-algolia-application-id:
      - x
    method: POST
    uri: https://x-dsn.algolia.net/1/indexes/x/browse
  response:
    body:
      string: '{"hits":[{"objectType":"DATASET","objectRevID":"y","objectRevDate":1404086400,"title":"y","summary":"y","_recordData":"[\"o\",\"x\", \"x\", \"2014-06-30\"]","objectID":"y"},{"objectType":"DATASET","objectRevID":"x","objectRevDate":1404086400,"title":"x","summary":"x","_recordData":"[\"o\",\"x\", \"x\", \"2014-06-30\"]","objectID":"x"}],"nbHits":2,"page":0,"nbPages":1,"hitsPerPage":1000,"processingTimeMS":0,"query":"","params":""}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
