interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
      x-algolia-api-key:
      - x
      x-algolia-application-id:
      - x
    method: GET
    uri: https://x-dsn.algolia.net/1/indexes
  response:
    body:
      string: '{"items":[{"name":"x","createdAt":"2014-06-30T12:00:00.0Z","updatedAt":"2014-06-30T12:00:00.0Z","entries":1,"dataSize":1,"fileSize":1,"lastBuildTimeS":1,"numberOfPendingTasks":0,"pendingTask":false}],"nbPages":1}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
