interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
      x-algolia-api-key:
      - x
      x-algolia-application-id:
      - x
    method: GET
    uri: https://x-dsn.algolia.net/1/indexes/x/x
  response:
    body:
      string: '{"objectType":"DATASET","objectRevID":"x","objectRevDate":1404086400,"title":"x","summary":"x","_recordData":"[\"o\",\"x\", \"x\", \"2014-06-30\"]","objectID":"x"}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
