interactions:
- request:
    body: '{"searchableAttributes": ["objectID"]}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://x.algolia.net/1/indexes/x/settings
  response:
    body:
      string: '{"updatedAt":"2014-06-30T12:30:45Z","taskID":123}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://x-dsn.algolia.net/1/indexes/x/task/123
  response:
    body:
      string: '{"status":"notPublished","pendingTask":false}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://x-dsn.algolia.net/1/indexes/x/settings?getVersion=2
  response:
    body:
      string: '{"searchableAttributes":["objectID"]}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
