{% import '_macros/common.html.j2' as com %}

{# tuples of ('label', 'href', 'icon class') #}
{% set primary_nav_items = [] %}

{% macro html_head(data) %}
  <head>
    {{ head_meta(data) }}
    {{ head_title(data.html_title_suffixed) }}
    {% if data.html_open_graph %}
      {{ head_open_graph(data.html_open_graph) }}
    {% endif %}
    {{ head_favicon(data.build_key) }}
    {{ head_styles(data.build_key) }}
    {{ head_scripts(data) }}
  </head>
{% endmacro %}

{% macro head_meta(data) %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="{{ data.generator }}">
  <meta name="version" content="{{ data.version }}">
  <meta name="generated" content="{{ data.build_time.isoformat() }}">
  {% if data.build_ref %}<meta name="store-ref" content="{{ data.build_ref.value }}">{% endif %}
  {% if data.html_description %}<meta name="description" content="{{ data.html_description }}">{% endif %}
{% endmacro %}

{% macro head_title(value) %}
  <title>{{ value }}</title>
{% endmacro %}

{% macro head_open_graph(data) %}
  {% for property, content in data | items %}
    <meta property="{{ property }}" content="{{ content }}" />
  {% endfor %}
{% endmacro %}

{% macro head_favicon(build_key) %}
  <link rel="shortcut icon" href="/static/img/favicon.ico?v={{ build_key }}" />
  <link rel="icon" href="/static/img/favicon.svg?v={{ build_key }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png?v={{ build_key }}" sizes="180x180" />
  <link rel="manifest" href="/static/txt/manifest.webmanifest?v={{ build_key }}" />
{% endmacro %}

{% macro head_styles(build_key) %}
  <link rel="stylesheet" href="https://cdn.web.bas.ac.uk/libs/font-awesome-pro/5.13.0/css/all.min.css" integrity="sha256-DjbUjEiuM4tczO997cVF1zbf91BC9OzycscGGk/ZKks=" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/main.css?v={{ build_key }}" />
{% endmacro %}

{% macro head_scripts(data) %}
  {{ script_sentry(data.sentry_src) }}
  {{ script_plausible(data.plausible_domain) }}
  {{ script_turnstile() }}
  {{ script_show_js(com.show_js_class()) }}
  {{ script_sticky_tabs() }}
  {{ script_collapsible() }}
  {% if data.html_schema_org %}
    {{ script_schema_org(data.html_schema_org) }}
  {% endif %}
{% endmacro %}

{% macro script_sentry(value) %}
  <script>
    window.sentryOnLoad = function() {
      Sentry.init({
        tracesSampleRate: 0,
        replaysSessionSampleRate: 0,
        replaysOnErrorSampleRate: 0,
      });
      Sentry.lazyLoadIntegration("feedbackIntegration").then(
        (integration) => {
          Sentry.addIntegration(integration({
            autoInject: false,
            showBranding: false,
            colorScheme: "light",
            formTitle: "Send Feedback",
            submitButtonLabel: "Send Feedback",
            messagePlaceholder: "",
            successMessageText: "Thank you for your feedback.",
          }));

          const feedback = Sentry.getFeedback();
          if (feedback) {
            const triggers = document.querySelectorAll(".{{ com.sentry_trigger() }}");
            triggers.forEach(trigger => {
              feedback.attachTo(trigger, {});
            });
          }
        }
      );
    };
  </script>
  <script src="{{ value }}" crossorigin="anonymous"></script>
{% endmacro %}

{% macro script_plausible(value) %}
    <script defer data-domain="{{ value }}" src="https://plausible.io/js/script.hash.outbound-links.js"></script>
{% endmacro %}

{% macro script_turnstile() %}
    <script defer async src="https://challenges.cloudflare.com/turnstile/v0/api.js"></script>
{% endmacro %}

{% macro script_show_js(value) %}
  <script defer>
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelectorAll('.{{ value }}').forEach(el => el.classList.remove('hidden'));
    });
  </script>
{% endmacro %}

{% macro script_sticky_tabs() %}
  <script defer>
    /* Based on jQuery Plugin Sticky Tabs by Aidan Lister <aidan@php.net> */
    (function () {
      const selectTab = (tabId) => {
        const input = document.getElementById(tabId);
        if (input && input.type === "radio") {
          input.checked = true;
          window.history.pushState(null, null, `#${tabId}`);
        }
      };

      const handleHashChange = () => {
        const hash = window.location.hash;
        if (hash) {
          selectTab(hash.substring(1)); // Remove '#' from hash
        }
      };

      document.addEventListener("DOMContentLoaded", function () {
        handleHashChange(); // Handle initial hash on page load

        const tabLabels = document.querySelectorAll('label[for^="tab-"]');
        tabLabels.forEach((label) => {
          label.addEventListener("click", () => {
            const tabId = label.getAttribute("for");
            selectTab(tabId);
          });
        });

        // Listen for hash changes
        window.addEventListener("hashchange", handleHashChange);
      });
    })();
  </script>
{% endmacro %}

{% macro script_collapsible() %}
  <script defer>
    document.addEventListener('DOMContentLoaded', () => {
      // Find all elements with the `data-target` attribute and add click event listeners to hide/show a target element
      const toggles = document.querySelectorAll('[data-target]');

      toggles.forEach(toggle => {
        toggle.addEventListener('click', () => {
          const targetSelector = toggle.getAttribute('data-target');
          const targetElement = document.querySelector(targetSelector);
          if (targetElement) {
            targetElement.classList.toggle('hidden');
          }
        });
      });
    });
  </script>
{% endmacro %}

{% macro script_schema_org(data) %}
  <script defer type="application/ld+json">{{ data }}</script>
{% endmacro %}

{% macro primary_nav() %}
  {% for item in primary_nav_items %}
    <a class="hover:underline" href="{{ item[1] }}"><i class="fa-fw {{ item[2] }}"></i> {{ item[0] }}</a>
  {% endfor %}
{% endmacro %}

{% macro top_anchor() %}
  <div id="{{ com.back_to_top_id() }}"></div>
{% endmacro %}

{% macro header(data) %}
  <header id="site-header" class="space-y-4">
    {{ navbar() }}
    {{ dev_phase(data.fallback_email) }}
  </header>
{% endmacro %}

{% macro navbar() %}
  <nav id="site-nav" class="lg:p-4 bg-grey-950 dark:bg-black text-white">
    <div class="{{ com.container_classes() }} py-4 lg:flex lg:gap-8 lg:justify-between lg:items-end">
      <div class="flex-none flex justify-center lg:justify-start items-center">
        <a id="site-title" class="block font-bold text-lg text-center lg:text-left" href="/">BAS Data Catalogue</a>
      </div>
      <div class="flex-1 hidden lg:flex items-center gap-4 justify-start">
        {{ primary_nav() }}
      </div>
      <div class="flex-1 flex self-center justify-end">
        <a class="hidden lg:block hover:underline" href="https://www.bas.ac.uk">Part of British Antarctic Survey</a>
      </div>
    </div>
  </nav>
{% endmacro %}

{% macro dev_phase(fallback_email) %}
  <div id="site-dev" class="{{ com.container_classes() }} px-2 space-x-2">
    <span id="site-dev-phase" class="uppercase text-sm font-bold bg-pink-500 text-white dark:text-grey-950 py-1 px-2">alpha</span>
    <span>
      This is a new website, your {{ com.feedback_trigger(classes=com.link_classes(), fallback=fallback_email, text='feedback') }}
      will help us to improve it.
    </span>
  </div>
{% endmacro %}

{% macro footer(data) %}
  <footer id="site-footer" class="font-light bg-grey-950 dark:bg-black text-grey-100 text-center">
    <div class="{{ com.container_classes() }} px-2 py-8 space-y-4 lg:space-y-8">
      <div class="flex flex-col justify-between space-y-4 lg:space-y-0 lg:flex-row">
        {{ com.feedback_trigger(classes=com.footer_link_classes(), fallback=data.fallback_email, text='Is something wrong with this page?') }}
        <a class="{{ com.footer_link_classes() }} lg:text-right" href="#{{ com.back_to_top_id() }}">Back to top</a>
      </div>
      <div class="block lg:hidden flex justify-center justify-between {{ com.footer_link_classes() }}">
        {{ primary_nav() }}
      </div>
      <div class="flex flex-col justify-between space-y-4 lg:space-y-0 lg:flex-row">
        <div class="lg:text-left lg:flex lg:space-x-2">
          <p>© <a class="{{ com.footer_link_classes() }}" href="https://www.bas.ac.uk">British Antarctic Survey</a> {{ data.build_time.year }}<span class="hidden lg:inline">.</span></p>
        </div>
        <ul class="flex justify-center space-x-2 lg:justify-end">
          <li><a class="{{ com.footer_link_classes() }}" href="/legal/accessibility">Accessibility</a></li>
          <li><a class="{{ com.footer_link_classes() }}" href="/legal/cookies">Cookies</a></li>
          <li><a class="{{ com.footer_link_classes() }}" href="/legal/copyright">Copyright</a></li>
          <li><a class="{{ com.footer_link_classes() }}" href="/legal/privacy">Privacy</a></li>
        </ul>
      </div>
      <a class="block lg:hidden {{ com.footer_link_classes() }}" target="_blank" href="https://www.bas.ac.uk">Part of British Antarctic Survey {{ com.ext_link_i() }}</a>
    </div>
  </footer>
{% endmacro %}
