<div><img src="https://www.nationalarchives.gov.uk/images/infoman/ogl-symbol-41px-retina-black.png" alt="OGL symbol"/></div>
<p><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence (OGL 3.0)</a></p>

<p>Under this licence you are free to:</p>
<div style="padding:2px 0; margin-bottom:20px; border-top:none rgb(55, 146, 69); border-right:none rgb(55, 146, 69); border-bottom:none rgb(55, 146, 69); border-left:5px solid rgb(55, 146, 69); border-radius:0;">
    <ul>
        <li><strong>Share</strong> — copy and redistribute this item in any medium or format</li>
        <li><strong>Adapt</strong> — remix, transform, and build upon this item for any purpose, including commercial</li>
    </ul>
</div>

<p>Providing that you:</p>
<div style="padding:2px 0; margin-bottom:20px; border-top:none rgb(255, 191, 71); border-right:none rgb(255, 191, 71); border-bottom:none rgb(255, 191, 71); border-left:5px solid rgb(255, 191, 71); border-radius:0;">
    <ul>
        <li><strong>Include attribution</strong> — by including a citation, which must not suggest endorsement of you or your use</li>
        <li><strong>Don't include additional restrictions</strong> — you may not legally restrict others from doing things this license permits</li>
    </ul>
</div>

<p>Important notes:</p>
<div style="padding:2px 0; margin-bottom:20px; border-top:none rgb(177, 14, 30); border-right:none rgb(177, 14, 30); border-bottom:none rgb(177, 14, 30); border-left:5px solid rgb(177, 14, 30); border-radius:0;">
    <ul>
        <li><strong>Inaccuracies and mistakes</strong> — may be included unintentionally due to limited data availability or quality</li>
        <li><strong>No warranty, liability or fitness for any purpose</strong> — you must not rely on this information for navigation</li>
    </ul>
</div>

<p>This is a short licence summary, see the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">full summary</a> for more information and legal text.</p>
